@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.ReminderActiveMonth

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>ReminderActiveMonth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReminderId" class="control-label"></label>
                <select asp-for="ReminderId" class ="form-control" asp-items="ViewBag.ReminderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MonthId" class="control-label"></label>
                <select asp-for="MonthId" class ="form-control" asp-items="ViewBag.MonthId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
