@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.Reminder

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Reminder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReminderFrequency" class="control-label"></label>
                <input asp-for="ReminderFrequency" class="form-control" />
                <span asp-validation-for="ReminderFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderMessage" class="control-label"></label>
                <input asp-for="ReminderMessage" class="form-control" />
                <span asp-validation-for="ReminderMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantId" class="control-label"></label>
                <select asp-for="PlantId" class ="form-control" asp-items="ViewBag.PlantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReminderTypeId" class="control-label"></label>
                <select asp-for="ReminderTypeId" class ="form-control" asp-items="ViewBag.ReminderTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
