html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    background-image: url(https://art.pixilart.com/02aa0790086f91a.png);
    background-size: 75vh;
    background-repeat: repeat;
    
}

/* relevant info: https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */
.wrapper{
    position: relative;
}

#score{
    color: white;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 0;
    right: 47vw;
    text-align: center;
}

.scoreboard{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    right: 5vw;
    top: 5vh;
}

.scoreboard-contents{
    color: white;
    margin: 0;
}

.controls{
    position: absolute;
    color: white;
    font-size: large;
    top: 5vh;
    left: 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.controls-contents{
    color: white;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    margin: 2vh;
}

.gameover {
    position: absolute;
    color: red;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 45vw;
    top: 50vh;
}

.gameover-contents, .start-contents{
    color: white;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.pause, .start{
    position: absolute;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 45vw;
    top: 50vh;
}

#car{
    position: absolute;
    top: 85vh;
    left: 50vw;
    height: auto;
    width: auto;
    max-height: 7%;
    max-width: auto;
    transform: rotate(-90deg);
}

.obstacle{
    background-color: black;
}

.app{
    width: 100%;
    height: 100%;
}

.row{
    width: 100%;
    display: flex;
}

.road{
    background-color: rgb(201, 158, 103);
    background-size: 50vh;
}

.left-edge{
    border-right: 1vw solid darkgreen;
}

.right-edge{
    border-left: 1vw solid darkgreen;
}